<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clova - Categorias</title>
</head>
<body>
    {% include 'menu.html' %}

    <main>
        <div>
            <div class="categoryCard">
                <img src="" alt="">
                <span>Carros</span>
            </div>
            <div class="categoryCard">
                <img src="" alt="">
                <span>Electrodomesticos</span>
            </div>
            <div class="categoryCard">
                <img src="" alt="">
                <span>Motos</span>
            </div>
            <div class="categoryCard">
                <img src="" alt="">
                <span>Televisores</span>
            </div>
        </div>

        <div>
            <div class="categoryCard">
                <img src="" alt="">
                <span>Computadores</span>
            </div>
            <div class="categoryCard">
                <img src="" alt="">
                <span>Celulares</span>
            </div>
            <div class="categoryCard">
                <img src="" alt="">
                <span>Ropa</span>
            </div>
            <div class="categoryCard">
                <img src="" alt="">
                <span>Accesorios</span>
            </div>
        </div>
    </main>
</body>
</html>