<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clova - Ofertas</title>
</head>
<body>
    {% include 'menu.html' %}

    <main>
        <form action="">
            <div>
                <label for="">Tipo de articulo</label>
                <select name="" id=""></select>
            </div>
            <div>
                <label for="">Presupuesto</label>
                <input type="text">
                <input type="text">
            </div>
            <div>
                <label for="">Estado</label>
                <select name="" id=""></select>
            </div>
            <div>
                <label for="">Nombre del articulo</label>
                <select name="" id=""></select>
            </div>
        </form>
    </main>
</body>
</html>