<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


        <style>
            .header{
                background-image: url("{{ url_for('static', filename='images/' + cat.imagen) }}"); 
                background-repeat: no-repeat;
                background-position: center; 
              }

            footer{
                background-color: black ;
            }
        </style>


    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Clova shopping</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('landing.index')}}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Ofertas</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('landing.index')}}">Todas</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                {% for categoria in dataC %}
                                <li><a style="text-transform: capitalize;" class="dropdown-item" href="{{ url_for('landing.producto', id=categoria.id)}}">{{ categoria.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <a href="{{ url_for('auth.login')}}" class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Iniciar sesion
                    </a>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="header py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder" style="text-transform: uppercase;">{{ cat.nombre }}</h1>
                    <p class="lead fw-normal text-white mb-0">Categoria   <i class="bi bi-arrow-up-circle"></i></p>
                </div>
            </div>
        </header>


        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container mb-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                </div>
             {% endif %}
        {% endwith %}


        <!-- Section-->
        <section class="section py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="mb-5" style="text-align: center;font-size: 45px;">Productos</h2>
                {% if products %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %} 
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                            {% if product.imagen %}
                                {% set direccion = 'images/' + product.imagen %}
                                    <img class="card-img-top" src="{{ url_for('static', filename=direccion) }}" alt="{{ product.nombre }}">
                            {% endif %}
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder" style="text-transform: capitalize;">{{ product.nombre }}</h5>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <span class="text-muted text-decoration-line-through">${{ product.precio }}</span>
                                    - %{{ product.precio }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver productos</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="no-productos">
                        <h4>No hay productos disponibles en este momento.</h4>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>



        <!-- Footer-->
        <footer class="text-center text-white">
            
            <div class="container p-1">
                
                <div class="container mb-3">
                    <!-- Social Media Icons (Centered in a row) -->
                    <div class="d-flex justify-content-center align-items-center mb-4" style="gap: 30px;">
                        <a class="icons-footer" href="#!" role="button"><i class="fab fa-tiktok"></i></a>
                        <a class="icons-footer" href="#!" role="button"><i class="fab fa-google"></i></a>
                        <a class="icons-footer" href="#!" role=""><i class="fab fa-instagram"></i></a>
                        <a class="icons-footer" href="#!" role="button"><i class="fab fa-facebook"></i></a>
                        <a class="icons-footer" href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
                
    
                <section class="">
                    <form action="">
                        
                    <div class="row d-flex justify-content-center">
                        
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>¿Como te parecio nuestro catalogo?</strong>
                            </p>
                        </div>
    
                        <div class="col-md-5 col-12">
                        
                        <div class="mb-3">
                            <input type="text" class="form-control" id="" placeholder="Comentario" required>
                        </div>
                        </div>
                        
    
                        <div class="col-auto">
                            
                        <button data-mdb-ripple-init type="submit" class="btn btn-primary ">
                            Enviar
                        </button>
                        </div>
                        
                    </div>
                    
                    </form>
                </section>
    
                <section class="mb-4">
                    <p>
                        Inspirando creatividad y elegancia en nuestra comunidad. <br> Contáctanos: 
                        clovashopping@gmail.com | Tel: (311) 890 48 46.
                    </p>
                </section>
                
            
            </div>
    
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Clova Shopping
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Todos los derechos reservados.</a>
            </div>
            
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
