<!-- Menú de navegacion -->
    <nav>
        <div>
            <a href="/">Clova</a>
            <input type="search">
            <button>Iniciar Sesion</button>
            <a href="">Usuario</a>
            <div>
                <ul>
                    <li>
                        <a href="/categorias">
                            Categorias
                        </a>
                        <a href="/ofertas">
                            Ofertas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>